---
http_interactions:
- request:
    method: get
    uri: https://bling.com.br/Api/v2/notasfiscais/page=1/json/?apikey=1df869fc0f712d9032036833e27b29a851954261&filters=dataEmissao%5B04/04/2015%20TO%2004/04/2015%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"retorno":{"erros":[{"erro":{"cod":14,"msg":"A informacao desejada
        nao foi encontrada"}}]}}'
  recorded_at: Wed, 06 Apr 2016 16:01:07 GMT
recorded_with: VCR 3.0.1
