---
http_interactions:
- request:
    method: get
    uri: https://bling.com.br/Api/v2/notasfiscais/page=1/json/?apikey=1df869fc0f712d9032036833e27b29a851954261&filters=dataEmissao%5B04/04/2016%20TO%2004/04/2016%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"retorno":{"notasfiscais":[{"notafiscal":{"serie":"1","numero":"000001","loja":"0","numeroPedidoLoja":null,"tipo":"S","situacao":"Pendente","contato":"GERSON
        AZEVEDO GOMES","vendedor":"","dataEmissao":"2016-04-04 00:00:00","valorNota":"64.90","chaveAcesso":null,"codigosRastreamento":[]}}]}}'
  recorded_at: Wed, 06 Apr 2016 16:01:07 GMT
recorded_with: VCR 3.0.1
