---
http_interactions:
- request:
    method: get
    uri: https://bling.com.br/Api/v2/pedido/2/json/?apikey=1df869fc0f712d9032036833e27b29a851954261&filters=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"retorno":{"pedidos":[{"pedido":{"desconto":"0","observacoes":"","observacaointerna":"","data":"2016-04-08","numero":"2","vendedor":"","valorfrete":"0.00","totalprodutos":"49.90","totalvenda":"49.90","situacao":"Atendido","cliente":{"nome":"GERSON
        AZEVEDO GOMES","cnpj":"018.400.050-50","ie":"","endereco":"Rua Vicente da
        Fontoura","numero":"1021","complemento":"302","cidade":"Porto Alegre","bairro":"SANTANA","cep":"90.640-001","uf":"RS","email":""},"itens":[{"item":{"codigo":"PJ002CR","descricao":"Porta-Jaleco
        Doodle","quantidade":"1.0000","valorunidade":"49.9000000000","precocusto":"0.0000000000","descontoItem":"0.00","un":"UN"}}],"parcelas":[{"parcela":{"valor":"16.64","dataVencimento":"2016-05-08
        00:00:00","obs":""}},{"parcela":{"valor":"16.63","dataVencimento":"2016-06-08
        00:00:00","obs":""}},{"parcela":{"valor":"16.63","dataVencimento":"2016-07-08
        00:00:00","obs":""}}],"nota":{"serie":"1","numero":"000005","dataEmissao":"2016-04-08
        00:00:00","situacao":"1","chaveAcesso":null},"transporte":{"servico_correios":"PAC","volumes":[{"idServico":"512679065","servico":"PAC","codigoRastreamento":"PJ644450177BR","valorFretePrevisto":"8.00","dataSaida":"2016-04-08","prazoEntregaPrevisto":"5"}]},"codigosRastreamento":{"codigoRastreamento":"PJ644450177BR"}}}]}}'
  recorded_at: Fri, 08 Apr 2016 17:16:29 GMT
recorded_with: VCR 3.0.1
